@using AppFeedBack.ViewModels
@model FeedbackCreateViewModel

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("StoreFeedback", "FeedBack", FormMethod.Post, new {enctype = "multipart/form-data"}))
        {
            <h2>Оставьте отзыв</h2>

            <div class="form-horizontal">

                <div class="form-group">
                    @Html.TextAreaFor(t => t.Text)
                </div>

                <div class="form-group">
                    <button id="attachFile" class="btn btn-link">Прикрепить файл</button>

                    <div id="file-container">
                        <div id="input-container" style="display: none"></div>
                        <div id="preview-container"></div>
                    </div>  
                </div>

                <div class="form-group">
                    @Html.Label("Выберите категорию")
                    @{
                        var selectList = from item in Model.Categories select new SelectListItem {Value = item.Id.ToString(), Text = item.Name};
                    }
                    @Html.DropDownListFor(t => Model.Category, selectList, new {@class = "form-control"})
                </div>

                <div class="form-group">
                    <input type="submit" value="Отправить" class="btn btn-default"/>
                </div>

            </div>
        }
    </div>
</div>

<script>

    var fileIndex = 0;

    $(document).ready(function() {

        $("#attachFile").click(function(event) {

            event.preventDefault();
            var input = $("<input>");
            var box = $("#input-container");
            var inputs = $("#input-container input[type=file]");

            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i].files.length == 0) {
                    inputs[i].remove();
                    fileIndex--;
                }
            }

            input.attr('name', "Files[" + fileIndex + "]");
            input.attr('type', 'file');
            input.css = "display: none";

            input.change(function() {
                box.append(input);
                fileIndex++;
                addFilePreview($(this).prop('files')[0]);
            });

            input.click();
           
        });
    });

    function addFilePreview(file) {

        var container = $("#preview-container");
        var block = $("<div>");
        var label = $("<span>");
        var image = $("<img>");

        image.css("width", 30);
        image.attr("src", "@Url.Content("~/Content/Icons/file-icon.png")");
        label.text(file.name);

        block.append(image);
        block.append(label);
        container.append(block);
    }

</script>



