
.feedback-block { 
    padding: 10px;
    margin: 20px 0 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.feedback-head-block {
    margin-bottom: 5px;
    border-bottom: 1px dashed lightgray;
}

.feedback-head-block span {
    margin-right: 5px;
}

.dropdown-block {
    display: inline-block;
    max-width: 400px;
    margin-top: 10px;
    margin-right: 10px;
}
.link-block,
.file-block {
    margin-top: 5px;
}

.link-block, span
.file-block span {
    margin-right: 10px;
}